body {
    background-color: #1c1c1c;
    height: 100vh;
    width: 100%;
}

#app {
    position: absolute;
    top: 50%;
    width: 100%;
}

.rating {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    border: 2px solid aliceblue;
    margin: 0% 5%;
}

.elemento {
    height: 50px;
    width: 50px;
    margin: 5px;
    cursor: pointer;
    background-image: url(estrella.svg);
}

.elemento-full {
    background-image: url(estrella_golden.svg);
}